.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.copyright__text {
  margin: 0;
  font-size: $font-size-sm;
  line-height: 1em;
  font-family: $font-family-additional;
}
