.index .main-nav__link {
  @media (min-width: $desktop-width) {
    color: $white;

    &--active {
      border-bottom: 2px solid $white;
    }
  }
}

.index .page-header {
  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      width: 50%;
      height: 696px;
      background-color: #64a83b;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: right;
    }
  }
}

