.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-right: 70px;
    padding-top: 53px;
  }
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header {
  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: auto;
  }
}
