$white:                    #ffffff;
$gray:                     #f2f2f2;
$gray-dark:                #444444;
$gray-darken:              #111111;

$color-main:               #68b738;

$border:                   1px solid rgba(0, 0, 0, 0.1);

$font-family:              "Oswald", "Arial", sans-serif;
$font-family-additional:   "Arial", sans-serif;

$font-size:                14px;
$font-size-xs:             12px;
$font-size-sm:             16px;
$font-size-m:              18px;
$font-size-l:              20px;
$font-size-xl:             24px;
$font-size-xxl:            36px;
$font-size-xxxl:           60px;

$line-height:              1.286em;

$mobile-width-only:        767px;
$tablet-width:             $mobile-width-only + 1px;
$desktop-width:            1440px;
